.header {
    background:white;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #655e5e;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #655e5e;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;


}

.form__group {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    justify-content: center;
    
    
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #f60404;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid rgba(207, 161, 161, 0.867);
    border-radius: 3px;

    appearance: none;

}

.form__input--text input {
    height: 40px;
    
}

.form__input--textarea textarea {
    height: 180px;
    
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgba(173, 136, 136, 0.867);
    color: #fff;
    cursor: pointer;
    text-align: center;

}